.App {
  text-align: center;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 0s linear;
    min-height: 85vh;
    min-width: 5vw;
    opacity: calc(69%);
  }
}

/* .header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(208, 255, 0);
} */
.navbar {
  top: 0%;
  position: absolute;
  background-color: blue;
  min-height: 10vh;
  min-width: 100vw;
  align-items: left;
  text-align: left;
  padding-left: 20px;
  color: antiquewhite;
}

#logo {
  color: antiquewhite;
  margin-right: 35px;
  font-size: 30px;
}
#jobs {
  color: antiquewhite;
  margin-right: 6px;
}
#ps {
  color: antiquewhite;
  margin-right: 6px;
}
#ft {
  text-align: right;
}

#login {
  text-align: right;
  margin-left: 800px;
}

#signup {
  color: antiquewhite;
  text-align: right;
  margin-left: 10px;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
